body{
  background-color:#DDDDE5;
}

.carousel-item img{
  height:400px;
  width:30px;
}

.carousel-control-prev{
  color:black;
}

.navbar-nav .nav-item .nav-link{
  color: white;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover{
  color: rgb(244,213,41);
}