.navbar-nav .nav-item .nav-link{
	color: white;
	font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover{
	color: rgb(244,213,41);
}

p {
	color:red;
}

h1{
	color:#0d6efd;
	text-align: center;
}
.col img{
	width: 55px;
	height:50px;
	margin:25px;

}

footer .container {
	height: 225px;
}